h2 {
	color: #f24730;
	font-family: 'Lobster Two', 'cursive';
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.scrollable { display: block; }

.scrollable {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.auto-fadein h2 {
	font-family: 'Open Sans', Arial, sans-serif;
}

slides > slide:not(.nobackground):before {
  background: none;
}

.title-slide hgroup p {
	margin-top: 0px;
}

.row {
	margin-bottom: 1em;
}

.row .thumbnail {
	display: inline-block;
}

.row .caption {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
}

.row .caption p {
	margin: 0px;
	font-size: large;	
}

.left {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.right {
	display: inline-block;
}